@font-face {
    font-family: "AltRetroThin";
    src: local("AltRetroThin"),
      url("./fonts/Alt_Retro_Thin.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "AltRetroRegular";
    src: local("AltRetroRegular"),
      url("./fonts/Alt_Retro_Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "AtariClassicChunky";
    src: local("AtariClassicChunky"),
      url("./fonts/Atari_Classic_Chunky.ttf") format("truetype");
    font-weight: normal;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 2vw;

}

nav ul li a {
    text-decoration: none;
    font-size: 4em;
    font-family: AltRetroThin;
    font-weight: 600;
    background: -webkit-linear-gradient(#FFFF33, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

nav {
    text-align: center;
    margin-top:-3vh;
    margin-bottom:-4vh;
    background-color: #023020;
}

.home {
    background-image: linear-gradient(red, yellow);
    text-align: center;
    font-family: AtariClassicChunky;
    font-size: 0.8em;
    padding-top: 1em;
}

.lesson-main {
    background-image: linear-gradient(#8DD3FB, #5180ED, #301D87, #8DD3FB, #7674BC, #5180ED, #301D87, #eb98fc, #c25bee, #301D87, #f89f9f, #a71512, #f89f9f, #a71512,#fac466, #f09917, #a71512, #fac466, #f09917, #a71512, #b2e74c, 
    #e0a352, #1a3805, #b2e74c, #31961f, #1a3805, #8ee822, #31961f, #1a3805);    
    font-family: AtariClassicChunky;
    font-size: 0.8em;
    padding-top: 0.8em;
}

.lesson-container {
    display: inline-flex;
    width: 70vw;
    justify-content: space-around;
    text-align: center;
    background-color: orange;
}
.lesson-img{
    width:8vw;
    margin-top: 1vw;
}
.prev-btn-img, .next-btn-img {
    margin-top: 1vw;
    width: 6vw;
}
.lesson-container a {
    background-color: skyblue;
    border: 1px solid black;
    border-radius: 100%;
    height: 10vw;
    width: 10vw;
}

.avatar-img {
    width:2vw;
    display: inline-block
}

.ui-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 2vh;
    background-color: skyblue;
}

.user-info {
    width: 15vw;
    border: 1px solid black;
    background-color: red;
}
.user-info p {
    display: inline-block;
    margin-left: 1vw;
    background-color: purple;
}
.xp-bar {
    position: absolute;
    width: 14%;
    margin: auto;
    margin-top: -1.5vh;
    margin-left: 0.3vw;
    height: 1vh;
    border: 1px solid black;
    background-color: green;
}
.xp-bar img {
    position: relative;
    top: 0.4vh;
    margin-top: -1.5vh;
    margin-left: 0;
    padding-top: -10vh;
    z-index: 10;
    width: 70%;
    height: 3vh;
}
button {
    width: 5vw;
    border: none;
    background-color: grey;
}

.games-hub {
    background-color: yellow;
    padding-top: 0.8em;
    text-align: center;
    font-family: AtariClassicChunky;
    font-size: 0.8em;
}
